
$cyan: #5AE4FF;
$gradient: linear-gradient(133.12deg, #FFF85C 16.71%, #FF6AE6 100%);
$off-black: #09090A;
$darker-gray: #1B1A1D;
$dark-gray: #1A1A1F;
$med-gray: #26242B;
$image-gray: #312F38;
$gray: #4F4C57;
$alt-gray: #908CA0;
$med-light-gray: #BFBBCF;
$light-gray: #E5E4EC;
$lighter-gray: rgb(247, 247, 249);
$classic-gray-text: #838AA1;
$off-white: #FCFCFC;
$white: #fff;
$red: #EC0C00;
$green: #2AAE3E;
$bright-green: #32D74B;
$border-gray: #3C3A42;
$border-light-gray: #908CA0;
$border-med-gray: #625E70;
$magenta: #FF6AE6;
$yellow: #FFF85C;
$border-dark-gray: #2a2a2a;
$rose: #FF375F;
$modal-background: #09090A;
$lime: rgb(192, 238, 145);
$greenroom: #A6FF79;

$pdf-red: #D61E00;
$word-blue: #5185EC;
$excel-green: #479A5F;
$powerpoint-orange: #DB6905;
$icon-gray: #878793;
$chat-black: #00051A;
$light-blue: #5AE3FF;
$dark-blue: #081543;
$option-gray: #F5F7FF;
$option-border-gray: #180439;
$option-green: rgba(43, 172, 75, 0.1);
$option-red:  rgba(255, 68, 58, 0.1);



$shadow-alert: 0 3px 4px 0 rgba(0, 0, 0, 0.2);

svg {

	&.cyan {

		path {
			fill: $cyan;
		}
	}

	&.white {

		path {
			fill: $white;
		}
	}

	&.gray {

		path {
			fill: $border-light-gray;
		}
	}

	&.green {

		path {
			fill: $green;
		}
	}

	&.red {

		path {
			fill: $red;
		}
	}
	&.dark-gray {
		path {
			fill: $gray
		}
	}

	&#icon-close-add-circle {
		transform: rotate(45deg);
	}

	&.black {

		path {
			fill: $darker-gray;
		}
	}

	&.med-light-gray {

		path {
			fill: $med-light-gray;
		}
	}
}
