
// Bootstrap method for showing elements above define size

.show-xs,
.show-sm,
.show-med,
.show-lrg,
.show-xlrg,
.show-xs-height,
.show-sm-height,
.show-med-height,
.show-lrg-height,
.show-xlrg-height {
	display: none;
}

.show-xs {
	@include break-min($break-xs) {
		display: block;
	}
}

.show-sm {
	@include break-min($break-sm) {
		display: block;
	}
}

.show-med {
	@include break-min($break-med) {
		display: block;
	}
}

.show-lrg {
	@include break-min($break-lrg) {
		display: block;
	}
}

.show-xlrg {
	@include break-min($break-xlrg) {
		display: block;
	}
}

.show-xs-height {
	@include break-min-height($break-xs) {
		display: block;
	}
}

.show-sm-height {
	@include break-min-height($break-sm) {
		display: block;
	}
}

.show-med-height {
	@include break-min-height($break-med) {
		display: block;
	}
}

.show-lrg-height {
	@include break-min-height($break-lrg) {
		display: block;
	}
}

.show-xlrg-height {
	@include break-min-height($break-xlrg) {
		display: block;
	}
}
