.card {
  border: 1px solid #888;
  position: relative;
  padding: 0 12px;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;

  //   &.dragging {
  //     .card-header {
  //       background: none;
  //     }
  //   }

  //   &.card-header-only {
  //     .card-header {
  //       border-radius: inherit;
  //     }
  //   }

  //   .smart-tooltip-content {
  //     z-index: 3;
  //   }

  .card-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin: 0 -12px;
    padding: 16px 12px;
  }

  .card-header-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 0 8px 0 4px;
    cursor: move;
  }

  .card-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
  }

  .card-btn-close {
    position: absolute;
    top: 50%;
    right: 12px;
    padding: 4px;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  .card-body {
    padding-bottom: 12px;
  }

  .message-card {
    margin-top: 8px;
  }
}
