
.create-ui {
	display: flex;
	align-items: center;
	padding-left: 16px;
	border-left: 1px solid $gray;

	.changes {
		margin: 0 24px;
		font-size: 12px;
		font-weight: 700;
		color: $alt-gray;
	}

	.icon-toggle {

		svg {
			width: 14px;
			height: 14px;

			&#icon-phone-slim {
				height: 12px;
			}
		}
	}

	button.small {
		display: flex;
		align-items: center;
		margin-right: 8px;
		font-size: 12px;
		font-weight: 700;

		svg {
			margin-right: 8px;
		}

		&.primary {
			margin: 0;
			color: $off-black;
		}
	}
}
