
.event-header-wrapper {
	width: calc(100vw - 96px);
	height: 72px;

	&.full-page-width {
		width: 100%;
	}

	.event-header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		color: $light-gray;
		background-color: $image-gray;

		.left {
			display: flex;
			align-items: center;
			min-width: 190px;
			max-width: fit-content;
			height: auto;
			overflow: auto;

			.header-telly-logo-wrapper {
				margin-right: 9px;
				margin-left: 24px;
				padding-right: 24px;
				border-right: 1px solid $gray;

				.header-telly-logo {
					width: 48px;
					height: 48px;
				}
			}

			.pathing-arrow {
				margin: 16px;

				.pathing-arrow-text {
					margin-left: 16px;
				}

				a {
					display: flex;
					align-items: center;
					text-decoration: none;
					color: #fff;
				}
			}

			.event-title {
				margin: 16px 0;
				display: flex;
				flex-direction: column;
				height: 100%;

				.title-top {
					display: flex;
					align-items: flex-end;
					max-height: 50%;

					h6 {
						margin-bottom: 0;
					}
	
					.event-autosave-status {
						display: flex;
						align-items: center;
						width: 61px;
						height: 16px;
						margin-left: 8px;
						font-size: 12px;
						line-height: 16px;
						letter-spacing: 0.4px;
						color: $med-light-gray;
					}

				}

				.title-bottom {
					height: 50%;
					.event-start {
						padding: 2px;
						font-size: 14px;
						line-height: 20px;
						font-weight: 500;
						color: $med-light-gray;
					}
				}
			}
		}

		.right {
			display: flex;
			margin-right: 2vw;

			.profile-button {
				margin-left: 16px;
				padding: 0;
				padding-left: 16px;
				border-left: 1px solid $gray;
				border-radius: 0;

				&.no-button-border {
					border-left: none;
				}

				.profile-pic {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 48px;
					height: 48px;
					margin-right: 8px;
					overflow: hidden;
					background-color: $gray;
					border-radius: 100px;

					img {
						width: 48px;
						height: 48px;
						object-fit: contain;
					}
				}
			}
		}
	}
}
