body {
  margin: 0;
}

.App {
  height: 700px;
}

.full-height {
  height: 100%;
}

.relative {
  position: relative;
}

.flex-grow-1 {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.full-height {
  height: 100%;
}

.relative {
  position: relative;
}

.cursor-move {
  cursor: move;
}

.radius-main {
  border-radius: 12px;
}
