
.token {

	&.selector,
	&.attr-value {
		font-weight: bold !important;
		color: $cyan !important;
	}

	&.punctuation {
		color: $border-light-gray !important;
	}

	&.property,
	&.tag {
		font-weight: bold !important;
		color: $magenta !important;
	}

	&.function,
	&.attr-name {
		color: $yellow !important;
	}

	&.string {
		color: $light-gray !important;
	}

	.line-number {
		display: block;
		float: left;
		clear: right;
	}
}
