
@import './src/scss/old-deps';

@mixin custom-code {
	font-family: 'Roboto Mono' !important;

	hr {
		margin-right: -24px;
		margin-left: -24px;
		border-color: $border-gray;
	}

	.style-editor {
		@include radius-12;
		min-height: 170px;
		border: 1px solid $border-light-gray;
		transition: 150ms border;

		textarea {
			min-height: 170px;
			outline: none;
		}

		&:focus,
		&:focus-within {
			border: 1px solid $white;
		}
	}

	@keyframes bounceIn {

		from {
			opacity: 0;
			transform: translateX(-100px);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.css-error {
		@include radius-16;
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		padding: 36px 16px 8px;
		overflow: hidden;
		background-color: rgba($red, 0.1);
		border: 1px solid $red;
		animation: 200ms bounceIn;

		label {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 16px 16px 12px;
			font-weight: 700;
			background: rgba($red, 0.2);
		}

		.error-block {
			display: flex;
			flex-direction: column;
			margin-bottom: 16px;

			code {
				font-size: 14px;

				&.error-label {
					font-weight: 700;
				}
			}
		}
	}
}
